

<section class="wrapper style1 align-center">
  <div class="inner">
  <header>
    <h2>Create history</h2>
  </header>
  <div class="content">
    <%= form_for :entry, :remote => true do |f| %>
    <div class="field">
      <%= f.text_field :entrytitle, placeholder: "Name your entry..." %>
    </div>
    <hr>
    <div class="field">
      <%= f.date_select :entrydate, order: [:year, :month, :day], :date_separator => '</div><div class="field third">' %>
    </div>
    <div class="field half">
      <%= f.country_select :entrycountry %>
    </div>
    <div class="field half">&nbsp;</div>
    <hr>
    <div class="field">
      <%= f.text_area :entrysummary, rows: 2, placeholder: "Try to summarize your entry..." %>
    </div>
    <hr>
    <div class="field">
      <div class="editable" name="entry[entrytext]"></div>
    </div>
      <br />
      <%= f.submit "Save entry" %>
      <button id="req_fullscreen">Fullscreen</button>
    <% end %>
    <br />
  </div>
</div>
</section>
